.my-table{
  
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  empty-cells: show;
  border-width: 0;
  outline: none;
    border-color: grey;
}
.my-table a{font-weight: normal}
.my-table th {
    overflow: hidden;
  border-style: solid;
  border-width: 0 0 1px 1px;
  padding: .5em .6em .4em .6em;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
      border-color: #dbdbde;
}
.my-table th a{
    margin: -0.5em -0.6em -0.4em -0.6em;
    padding: .5em .6em .4em .6em;
    display: block;
    line-height: 18px;
    text-decoration: none;
    background-color: #919191;
    color:white
}
.my-table tbody tr{

}
.my-table tbody tr.row-0{
        background-color: #f4f4f4;
}
.my-table tbody tr.row-1{
        background-color: #eaeaec;
}
.my-table tbody tr td{
border-style: solid;
    border-width: 0 0px 1px 1px;
    padding: 0em .5em;
    overflow: hidden;
    line-height: 2em;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-color:  #dbdbde;
}